<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <label for="fromDate">From: </label>
    <input type="date" name="fromDate" id="fromDate">
    <label for="toDate">To: </label>
    <input type="date" name="toDate" id="toDate">
    <label for="currency">Currency: </label>
    <select name="currency" id="currency">
        <option value="USD" selected>USD</option>
        <option value="EUR">EUR</option>
    </select>
</div>
<div>
    <h3>MAX: <span id="max"></span></h3>
    <h3>MIN: <span id="min"></span></h3>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>