<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <label for="fromDate">From: </label>
    <input type="date" name="fromDate" id="fromDate">
    <label for="toDate"> To: </label>
    <input type="date" name="toDate" id="toDate">
</div>
<div>
    <canvas id="myChart"></canvas>
</div>